*, *::before, *::after {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color:#00FF6C;
  }
  
  .container {
      box-shadow: inset 6px 6px 13px #4169e1,
                  6px 6px 13px rgba(0, 0, 0, .75);
      height: 650px;
      max-width: 450px;
      background-color: #4169e1;
      margin: 5em auto 3rem auto;
      border-radius: 5px;
    
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    padding-bottom: 10em;
    max-width: 100%;
  }
  
  .calculator-grid > button {
    box-shadow: inset 6px 6px 13px #ffffff,
                6px 6px 13px rgba(0, 0, 0, .75);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    border: 2px solid #ffffff;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    margin: 5px;
    border-radius: 5px;
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(34, 32, 32, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: #ffffff;
    font-size: 2.5rem;
  }